[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
Editor Default Resources/
Firebase/
ExternalDependencyManager/
# Visual Studio cache
.vs/
*.csproj
*.sln
*.user
*.unityproj
*.meta
google-services.json
google-services-desktop.json

# OS
.DS_Store
Thumbs.db
